<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="put vm ip or DNS name here"/>
    <add key="User" value="put username for VM here"/>
    <add key="Password" value="put vm password here"/>
    <add key="storageaccount" value="Put storage account name"/>
    <add key="storagekey" value="Put storage key name here"/>
   </appSettings>
</configuration>

